In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('train.csv')

df.columns = [u'Week', u'Store', u'Canal_ID', u'Ruta_SAK', u'Cliente_ID',
       u'Product_ID', u'Sales_Units', u'Sales_Amount', u'Returned_Units',
       u'Returned_Amount', u'Adjusted_Demand_Units']
df['Recalculated_Demand'] = df['Sales_Units'] - df['Returned_Units']
df.head()

In [24]:
a = df['Recalculated_Demand'] != df['Adjusted_Demand_Units']
a.sum()
len(a)

74180464

In [25]:
submission_df = pd.read_csv('sample_submission.csv')
submission_df.head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7

In [15]:
test_df = pd.read_csv('test.csv')
test_df.head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [9]:
client_df = pd.read_csv('cliente_tabla.csv')
client_df.head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [11]:
town_df = pd.read_csv('town_state.csv')
town_df.head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

In [12]:
product_df = pd.read_csv('producto_tabla.csv')
product_df.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72